*{
    box-sizing: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(../assets/BG1.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}