.newsletter{
    width: 100%;
    height: 250px;
    background: linear-gradient(to left bottom, var(--panel-solid), var(--panel-transparent));

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}

#newsletter-title{
    font-size: 30px;
    color: var(--text-color);
    margin-top: 40px;
    margin-bottom: 20px;
}

#newsletter-description{
    font-size: 18px;
    color: var(--text-color);
    /* margin-bottom: 30px;  */
}

.newsletter form{
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="email"]{
    background-color: var(--text-color);
    height: 40px;
    width: 420px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px;
    border-color: var(--right-border-color);
    padding-left: 10px;
    margin-top: 30px;
    color: var(--darkest-purple);
}

input[type="email"]::placeholder{
    color: var(--darkest-purple);
}

input[type="email"]:focus{
    border: 3px solid var(--right-border-color);
    margin-top: calc(30px - 3px);
}

input[type="submit"]{
    width: 130px;
    height: 40px;
    margin-top: 30px;
    background-color: var(--button-purple);
    font-size: 18px;
    color: var(--text-color);
    border-radius: 8px;
    border-color: var(--left-border-color);
    cursor: pointer;
}

input[type="submit"]:hover{
    background: linear-gradient(to right, var(--button-purple), var(--dark));
}