body{
    --text-color: #bbf67e;
}

.nav{
    /* background-color: #ffffff;  */
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center; 
    top: 0;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 200px;
}

.nav-list a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    padding: 20px;
}

.navbar-brand{
    margin-left: 200px;
    display: flex;
}

.navbar-brand img{
    width: 22%;
    /* padding-left: 200px;  */
    align-items: flex-start;
}